<h3><%= @destination.city | if @destination.city.present? %>
<%= @destination.state | if @destination.state.present? %>
<%= @destination.country | if @destinaton.country.present? %>
<%= @destination.region | if @destination.region.present? %></h3>
